body {
  margin: 0;
}
.header {
  background-color: rgba(156, 232, 232, 0.5);
  width: 100%;
  padding: 30px 0;
}
.header-container {
  display: flex;
  max-width: 1000px;
  margin: 0 auto;
}
.header-logo {
  display: flex;
  flex: 1;
  margin-top: -22px;
}
.header-links {
  display: flex;
  gap: 20px;
}
.header-links a {
  text-decoration: none;
}
.main-info {
  display: flex;
  max-width: 1000px;
  margin: 0 auto;
}
.main-info-left {
  display: flex;
  flex-direction: column;
  flex: 1;
  margin-top: 60px;
}
.main-info-left h1 {
  font-size: 48px;
  font-weight: 900;
  margin-bottom: 0;
}
.main-info-right img {
  width: 400px;
  height: auto;
  margin-top: 70px;
}
.main-info-left h3 {
  width: 470px;
  font-size: 18px;
  margin-top: 0;
  margin-bottom: 10px;
}
.main-info-left button {
  margin-top: 0;
  padding: 5px 25px;
  font-size: 15px;
  background-color: rgb(188, 149, 224);
  color: white;
  border: 1px solid rgb(188, 149, 224);
  border-radius: 10px;
}
