body {
  margin: 0;
}
.header {
  background-color: rgba(156, 232, 232, 0.5);
  padding: 30px 0 120px;
}
.body-container {
  display: flex;
  max-width: 1000px;
  margin: 0 auto;
}
.header-logo {
  display: flex;
  flex: 1;
  margin-top: -22px;
}
.header-links {
  display: flex;
  gap: 20px;
}
.header-links a {
  text-decoration: none;
}
.main-info-left {
  display: flex;
  flex-direction: column;
  flex: 1;
  margin-top: 60px;
}
.main-info-left h1 {
  font-size: 48px;
  font-weight: 900;
  margin-bottom: 0;
}
.main-info-right img {
  width: 400px;
  height: auto;
  margin-top: 70px;
}
.main-info-left h3 {
  width: 470px;
  font-size: 18px;
  margin-top: 0;
  margin-bottom: 10px;
}

.main-header {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  font-size: 36px;
}
.info-images {
  display: flex;
  justify-content: center;
  gap: 50px;
  margin-bottom: 200px;
}
.info-images img {
  width: 200px;
  margin-bottom: 0;
  border-radius: 10px;
}
.info-images h4 {
  margin-top: 0;
  text-align: center;
  max-width: 200px;
}
.main-two-container {
  display: flex;
  background-color: rgb(188, 149, 224, 0.5);
  height: 420px;
  width: 100%;
  margin-bottom: 100px;
}
.text-container {
  display: flex;
  flex-direction: column;
  max-width: 700px;
  justify-content: center;
  margin: 0 auto;
}
.quote {
  font-size: 36px;
  font-weight: 100;
  line-height: 50px;
  margin-bottom: 0;
}
.quote.author {
  text-align: right;
  margin-top: 0;
}
.call-to-action {
  width: 1000px;
  height: 150px;
  background-color: lavender;
  margin: 0 auto;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 130px;
  margin-bottom: 100px;
  flex: 1;
}
.call-to-action-text {
  margin-bottom: 0;
  margin-top: 0;
  font-family: "Franklin Gothic Medium", "Arial", Arial, sans-serif;
}

.call-to-action-text.light {
  font-weight: 100;
  font-size: 20px;
}
.buttons {
  margin-top: 0;
  padding: 5px 25px;
  font-size: 15px;
  background-color: rgb(188, 149, 224);
  color: white;
  border: 0.5px solid white;
  box-shadow: 1px 1px 10px grey;
  border-radius: 10px;
  cursor: pointer;
}
